imgui.ini

*.shadercache
**.ipch

# Ignore solutions files since they are managed by premake
/dev/Project/VisualStudio/Obj
/dev/Project/VisualStudio/*.sln
/dev/Project/VisualStudio/*.vcxproj
/dev/Project/VisualStudio/*.vcxproj.filters
/dev/Project/VisualStudio/*.vcxproj.user
/dev/Project/VisualStudio/.vs
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite

/dev/bin

/dev/res/editorCache
/res/fmod

/bat/buildLog.txt
/bat/config.ini
/build/*
/.idea
/bat/gg.txt
/bat/buildLog.txt
/bat/gatherLog.txt
/tools/steamsdk
**.bak
/.vs/CMake Overview
/.vs/cmake.db
/dev/libs/bullet/Bullet3Collision/out
/dev/libs/bullet/Bullet3Common/out
/dev/libs/bullet/BulletDynamics/out
/dev/libs/chaiscript
/dev/libs/bullet/BulletCollision/out
/dev/libs/bullet/Bullet3Serialize/BulletFileLoader/out
/dev/libs/bullet/Bullet3Serialize/BulletWorldImporter/out
/dev/libs/bullet/LinearMath/out
/dev/libs/bullet/Bullet3Geometry/out
/dev/libs/bullet/Bullet3Dynamics/out
/lfs/objects**
